* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  padding: 30px 3%;
  display: flex;
  align-items: center;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.logo {
  width: 32px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
}
